mixin sExpertise(data)
	mixin coastOneToTen(budget)

			.col: .wrapper
				p Оцените от 0 до 10, где 0 самая низкая оценка проекта, а 10 самая высокая
				.form-wrap__input-wrap.form-wrap__input-wrap--budget-radio.form-group
					+in-c('radio', '1', budget)
					+in-c('radio', '2', budget)
					+in-c('radio', '3', budget)
					+in-c('radio', '4', budget)
					+in-c('radio', '5', budget)
					+in-c('radio', '6', budget)
					+in-c('radio', '7', budget)
					+in-c('radio', '8', budget)
					+in-c('radio', '9', budget)
					+in-c('radio', '10', budget)
	// start sExpertise
	+b.SECTION.sExpertise.section#sExpertise&attributes(attributes)
		.container
			+b.section-title.text-primary
				h2 Название проекта, может быть коротким, в одну строку, или в две или даже в три строки.
			.sub-title: p Оцените проекты номинантов по следующим критериям и напишите короткое резюме (до 500 знаков)
			+form-wrap
				+e.card-item.card-item--single
					+e.row.row
						.col-lg-7
							p #[span Есть ли у проекта/управленческого решения комплексный подход к реализации и достижению поставленной цели?]
						+coastOneToTen('budget1') 
				+e.card-item.card-item--single
					+e.row.row
						.col-lg-7
							p #[span Есть ли у проекта/управленческого решения социальная значимость?]
						+coastOneToTen('budget2') 
				+e.card-item.card-item--single
					+e.row.row
						.col-lg-7
							p #[span Проект/управленческое решение подразумевает устойчивую долгосрочную потребность в результате реализации?]
							p (Проект/решение может быть реализовано единожды или многократно?)
						+coastOneToTen('budget3') 
				+e.card-item.card-item--single
					+e.row.row
						.col-lg-7
							p #[span Направлен ли проект/управленческое решение на повышение качества жизни граждан?]
						+coastOneToTen('budget4') 
				+e.card-item.card-item--single
					+e.row.row
						.col-lg-7
							p #[span Может ли проект/управленческое решение быть масштабируемым и тиражируемым?]<br>(например,  для других регионов или элементов системы муниципального самоуправления)
						+coastOneToTen('budget5') 
				+e.card-item.card-item--single.card_sm
					+e.row-large.row
						.col-lg-7
							p #[span Пожалуйста, составьте короткое резюме о проекте/управленческом решении, ориентируясь на примеры ниже:]
						.col-lg-6
							+e.title-example Примеры:
							ul
								li Проект/решение отвечает потребностям граждан/территории (или не соответствует потребностям по причине)
								li Проект/решение является социально значимой инициативой(или не является таковой по причине…)
								li Проект/решение представляет собой уникальную механику реализации (или не представляет, так как аналогичные решения уже есть).
								li Проект/решение подразумевает содействие/активное участие/интерес населения (или не подразумевает такового по причине…).
						.col-lg-6
							+e.title-example Примеры:
							ul
								li Проект/решение будет полезно для следующих аудиторий/слоёв населения: жители всей России/жители отдельных городов … / жители федеральных округов … (другое)
								li Проект/решение является универсальным (может быть внедрёно не только в муниципалитетах, но и в больших городах) или не является таковым по причине…
								li Проект/решение соответствует принципам устойчивого развития ESG (или не соответствует в силу…)
						.col-lg-12
							p #[span Ваше резюме о&nbsp;номинанте (до&nbsp;500 символов, но&nbsp;не&nbsp;менее 150):]
							+input('', 'textarea', '')

				+e.card-item.card-item--single
					+e.row-large.row
						.col-12
							table
								tbody
									mixin tr(t)
										tr
											td
												p= t
											td
												p Ваша оценка
											td
												p.text-primary 7
									+tr(' Несёт ли проект, инициатива, управленческое решение культурно-историчествую ценность?')
									+tr('Направлен ли проект, управленческое решение, инициатива на раскрытие и развитие человеческого потенциала жителей России?')
									+tr('Направлен ли проект, инициатива или управленческое решение на укрепление партнёрства между государством, обществом и бизнесом для совместного развития территорий и повышения благополучия граждан. ')
									+tr('Направлен ли проект, инициатива или управленческое решение на развитие технологий и качество принятия управленческих решений. Значительны ли результаты проекта, инициативы и решения для изменения практикоприменения на территории страны.')
								tfoot
									tr
										td
										td
											p Итого
										td
											p.text-primary 28
				.text-center: button.btn.btn-primary Отправить
	// end sExpertise


mixin sExpertise2(data)
	// start sExpertise
	+b.SECTION.sExpertise.section#sExpertise&attributes(attributes)
		.container
			+b.section-title.text-primary
				h2 Название проекта, может быть коротким, в одну строку, или в две или даже в три строки.
			.sub-title: p Оцените проекты номинантов по следующим критериям
			+form-wrap
				+e.card-item--nomin
					+e.row-review.row
						.col-lg-12
							.nomination НОМИНАЦИЯ
							.h2 Мой край — моя гордость
							.descr Проекты, направленные на популяризацию края, создание уникального образа территории, развитие туризма и культуры.
					+e.row-review.row
						.col-lg-6
							.question.text-primary Есть ли у проекта/управленческого решения бренд территории?
							p (вес вопроса 20)
						.col-lg-6: .wrapper
							.form-wrap__input-wrap.form-wrap__input-wrap--budget-radio.form-group
								+in-c('radio', 'Да', 'budget4')
								+in-c('radio', 'Нет', 'budget4')
							+ranking(1)
					+e.row-review.row
						.col-lg-6
							.question.text-primary Есть ли у проекта/управленческого решения актуальные формы популяризации края?
							p (вес вопроса 20)
						.col-lg-6: .wrapper
							.form-wrap__input-wrap.form-wrap__input-wrap--budget-radio.form-group
								+in-c('radio', 'Да', 'budget5')
								+in-c('radio', 'Нет', 'budget5')
					+e.row-review.row.mb-0
						.col-lg-6
							.question.text-primary Какой уровень информационной активности проекта/управленческого решения в рамках популяризации края?
							p (вес вопроса 20)
						.col-lg-6: .wrapper
							+ranking(2)
				.auth-row.text-center
					.btn.btn-outline-dark(href='#') Предыдущая
					.btn.btn-primary(href='#') Следующая