mixin sExpertise(data)
	// start sExpertise
	+b.SECTION.sExpertise.section#sExpertise&attributes(attributes)
		.container
			+b.section-title.text-primary
				h2 Название проекта, может быть коротким, в одну строку, или в две или даже в три строки.
			.sub-title: p Оцените проекты номинантов по следующим критериям и напишите короткое резюме (до 500 знаков)
			+form-wrap
				+e.card-item
					+e.row.row
						.col-lg-7
							p #[span Есть ли у проекта/управленческого решения комплексный подход к реализации и достижению поставленной цели?]
						.col: .wrapper
							.form-wrap__input-wrap.form-wrap__input-wrap--budget-radio.form-group
								+in-c('radio', 'Да', 'budget')
								+in-c('radio', 'Нет', 'budget')
				+e.card-item
					+e.row.row
						.col-lg-7
							p #[span Есть ли у проекта/управленческого решения социальная значимость?]
						.col: .wrapper
							.form-wrap__input-wrap.form-wrap__input-wrap--budget-radio.form-group
								+in-c('radio', 'Да', 'budget1')
								+in-c('radio', 'Нет', 'budget1')
				+e.card-item
					+e.row.row
						.col-lg-7
							p #[span Проект/управленческое решение подразумевает устойчивую долгосрочную потребность в результате реализации?]
							p (Проект/решение может быть реализовано единожды или многократно?)
						.col: .wrapper
							.form-wrap__input-wrap.form-wrap__input-wrap--budget-radio.form-group
								+in-c('radio', 'Да', 'budget2')
								+in-c('radio', 'Нет', 'budget2')
				+e.card-item
					+e.row.row
						.col-lg-7
							p #[span Направлен ли проект/управленческое решение на повышение качества жизни граждан?]
						.col: .wrapper
							.form-wrap__input-wrap.form-wrap__input-wrap--budget-radio.form-group
								+in-c('radio', 'Да', 'budget3')
								+in-c('radio', 'Нет', 'budget3')
				+e.card-item
					+e.row.row
						.col-lg-7
							p #[span Может ли проект/управленческое решение быть масштабируемым и тиражируемым?] (например,  для других регионов или элементов системы муниципального самоуправления)
						.col: .wrapper
							.form-wrap__input-wrap.form-wrap__input-wrap--budget-radio.form-group
								+in-c('radio', 'Да', 'budget4')
								+in-c('radio', 'Нет', 'budget4')
				+e.card-item.card_sm
					+e.row-large.row
						.col-lg-7
							p #[span Пожалуйста, составьте короткое резюме о проекте/управленческом решении, ориентируясь на примеры ниже:]
						.col-lg-6
							+e.title-example Примеры:
							ul
								li Проект/решение отвечает потребностям граждан/территории (или не соответствует потребностям по причине)
								li Проект/решение является социально значимой инициативой(или не является таковой по причине…)
								li Проект/решение представляет собой уникальную механику реализации (или не представляет, так как аналогичные решения уже есть).
								li Проект/решение подразумевает содействие/активное участие/интерес населения (или не подразумевает такового по причине…).
						.col-lg-6
							+e.title-example Примеры:
							ul
								li Проект/решение будет полезно для следующих аудиторий/слоёв населения: жители всей России/жители отдельных городов … / жители федеральных округов … (другое)
								li Проект/решение является универсальным (может быть внедрёно не только в муниципалитетах, но и в больших городах) или не является таковым по причине…
								li Проект/решение соответствует принципам устойчивого развития ESG (или не соответствует в силу…)
						.col-lg-12
							p #[span Ваше резюме о номинанте (до 500 символов, но не менее 150):]
							+input('', 'textarea', '')
				.text-center: button.btn.btn-primary Отправить
	// end sExpertise


mixin sExpertise2(data)
	// start sExpertise
	+b.SECTION.sExpertise.section#sExpertise&attributes(attributes)
		.container
			+b.section-title.text-primary
				h2 Название проекта, может быть коротким, в одну строку, или в две или даже в три строки.
			.sub-title: p Оцените проекты номинантов по следующим критериям
			+form-wrap
				+e.card-item
					+e.row-review.row
						.col-lg-12
							.nomination.ttu НОМИНАЦИЯ
							.h2 Мой край — моя гордость
							.descr Проекты, направленные на популяризацию края, создание уникального образа территории, развитие туризма и культуры.
					+e.row-review.row
						.col-lg-6
							.question.text-primary Есть ли у проекта/управленческого решения бренд территории?
							p (вес вопроса 20)
						.col-lg-6: .wrapper
							.form-wrap__input-wrap.form-wrap__input-wrap--budget-radio.form-group
								+in-c('radio', 'Да', 'budget4')
								+in-c('radio', 'Нет', 'budget4')
							+ranking(1)
					+e.row-review.row
						.col-lg-6
							.question.text-primary Есть ли у проекта/управленческого решения актуальные формы популяризации края?
							p (вес вопроса 20)
						.col-lg-6: .wrapper
							.form-wrap__input-wrap.form-wrap__input-wrap--budget-radio.form-group
								+in-c('radio', 'Да', 'budget5')
								+in-c('radio', 'Нет', 'budget5')
					+e.row-review.row.mb-0
						.col-lg-6
							.question.text-primary Какой уровень информационной активности проекта/управленческого решения в рамках популяризации края?
							p (вес вопроса 20)
						.col-lg-6: .wrapper
							+ranking(2)
				.auth-row.text-center
					.btn.btn-outline-dark(href='#') Предыдущая
					.btn.btn-primary(href='#') Следующая