mixin footer()
	+b.FOOTER.footer.section
		.container
			+e.top-row.row
				+e.btn-col.col-md
					+e.btn.btn.btn-primary(href="#") Подать заявку
					span старт 5 ноября
				.col-md
					+soc()
			+e.contact-row.row
				mixin contactItem(term, def)
					+e.mail-col.col-12.col-sm-6.col-lg-3
						span=term
						+e.mail(href=`mailto:${def}`)= def
				+contactItem('Участникам','support@spremia.ru')
				+contactItem('CМИ','pr@spremia.ru')
				+contactItem('Партнерам','partners@spremia.ru')
				+contactItem('Общие вопросы','org@spremia.ru')
			+e.bottom-row.row
				+e.logo-col.col-12.col-lg-2
					span Организатор
					+e.logo-wrap(href="#")
						+img('img/svg/logo-varmsu.svg')
				.col-12.col-sm-6.col-lg-auto
					+e.bottom-link(href="#")
						span Первая Премия:
						.span 2023
					+e.bottom-link(href="#"): span Участникам
					+e.bottom-link(href="#"): span Политика конфиденциальности
				.col-12.col-sm-6.col-lg.order-last
					span Премия Служение 2024 ©