:root {
	--fancybox-content-bg: none;
}

.fancybox__content {
	padding: 0;
	max-width: 100%;
  @include media-breakpoint-down(xl) {
    max-width: calc(100% - 32px);
  }
}
.modal-win {
	// display: block;
	background-color: #fff;
	max-width: 100%;
	position: relative;
	width: rem(500);
	// min-height: 100%; 
	padding: 40px;

  .vote-item__stars {
    position: static;
    margin: rem(36) 0;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
  border-radius: $border-radius-sm;

  &--lg {
    width: 1310px;
    padding: rem(30);
    @include media-breakpoint-up(lg) {
      padding: rem(77) rem(110);
    }
    // background: gray;
  }
  .h5 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
    line-height: 1.2;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .col-wrapper-scroll {
    overflow-x: hidden;
    overflow-y: auto;
    // height: 100%;
    max-height: calc(100dvh - 160px);
    @include media-breakpoint-up(xl) {
      max-height: calc(100dvh - 160px);
    }
  }

  &__row-lg {
    --bs-gutter-x: #{rem(20)};
    --bs-gutter-y: #{rem(20)};
    .col-lg {
      @include media-breakpoint-up(xl) {
        margin-left: rem(-30);
      }
    }
  }

  .mb-30 {
    margin-bottom: rem(31);
  }
  .mb-26 {
    margin-bottom: rem(26);
  }
  .mb-10 {
    margin-bottom: rem(10);
  }
  .mt-dop {
    @include media-breakpoint-down(lg) {
      margin-top: rem(38);
    }
  }

  &__wrap {
    padding: rem(26) rem(30);
    @include media-breakpoint-up(lg) {
      // padding: rem(26) rem(30);
    }
    border-radius: $border-radius-sm;
    &.wrap_blue {
      background: var(--color-card-bg);
    }
  }

  &__item {
    margin-bottom: rem(33);
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(54);
    }
  }
  &__item-person {
    max-width: rem(415);
    .name {
      margin-bottom: rem(18);
      font-size: rem(20);
    }

    .secondary {
      opacity: .5;
      font-size: rem(18);
    }
  }

  &__img-person-wrap {
    position: relative;
    border-radius: $border-radius;
    overflow: hidden;
    width: 150px;
    margin-bottom: rem(30);
    @include media-breakpoint-up(lg) {
      width: 192px;
    }
    img {
      width: 100%;
    }
  }

  .award-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(18);
    // width: rem(250);
    padding-top: rem(40);
    padding-bottom: rem(40);
    @include media-breakpoint-up(lg) {
      gap: rem(27);
      padding-top: rem(60);
      padding-bottom: rem(60);
      width: 90%;
    }

    .title {
      font-size: rem(20);
      @include media-breakpoint-up(xl) {
        font-size: rem(25);
      }
    }

    .icon {
      fill: $primary;
      font-size: rem(60);
      @include media-breakpoint-up(xl) {
        font-size: rem(95);
      }
    }
  }

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {

	.fancybox__container {
		width: 100% !important;
		min-height: 100%; 
		transform: none !important;
	}
}



.fancybox-throwOutUp {
  animation: 0.25s ease both fancybox-throwOutUp;
}

.fancybox-throwOutDown {
  animation: 0.25s ease both fancybox-throwOutDown;
}

@keyframes fancybox-throwOutUp {
  from {
    transform: translate3d(0, -5%, 0);
    opacity: 0;
  }
	
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

}

@keyframes fancybox-throwOutDown {
  to {
    transform: translate3d(0, 10%, 0);
    opacity: 0;
  }
}

.fancybox__content>.f-button.is-close-btn {
  top: 10px;
  right: 10px;
  opacity: 1;
  --fancybox-color: #{$body-color};
}