
mixin modal() 
	//  start modals
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h3.ttu Обратный звонок
					p.after-headline Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут

				+input("Ваше Имя")(required)
				+input("Ваше телефон",'tel')(required)
				+input("Ваше телефон",'tel')(required)
				+e.BUTTON.btn.btn(type="submit"  ) submit
				+policy()
				+policy()

	div(id="modal-project" style="display: none" )
		+b.modal-win--lg
			+e.row-lg.row
				.col-lg-4
					+e.text.fw-500.mb-30 Номинация
					.h5 Инициатива каждого — общий успех
				.col-lg: .col-wrapper-scroll
					+e.text.fw-500.mb-30 Название проекта
					.h5.text-primary.mb-30 «Времён<br>связующая нить»
					+e.wrap.wrap_blue
						.h5.mb-26 Описание проекта
						p Lorem ipsum dolor sit amet consectetur. Blandit arcu fames suspendisse volutpat interdum rhoncus non. Est in maecenas ipsum et congue cursus. Suspendisse in sagittis sed amet congue tempor. Morbi id in mauris amet dapibus eu ac. Lacus vitae sit dictum duis. Ornare adipiscing commodo ultrices id. Pellentesque sed nunc quam bibendum. Tincidunt massa et in proin est fusce congue. Amet arcu gravida aliquam tellus mattis. Id cursus in ut nisl. Sagittis erat pellentesque turpis vulputate tortor. Ut diam id nunc diam sed id vel pretium id.
						p Accumsan sed condimentum purus quis viverra convallis nulla mus. Facilisi tortor ullamcorper lacus consectetur orci dolor. Tellus tortor amet lobortis in non commodo mi tellus aliquet. Feugiat feugiat et id suscipit sodales mollis habitasse arcu. Sit consectetur nunc euismod felis orci id. Consequat commodo cursus lectus aliquam scelerisque facilisi massa.
	// #modal-call

	div(id="modal-winner"  style="display: none" )
		+b.modal-win--lg
			+e.row-lg.row
				.col-lg-12
					+e.text.fw-500.mb-10 Номинация
				.col-lg-4
					.h5.mb-30 Инициатива каждого — общий успех
					+e.wrap.wrap_blue.award-wrap
						+icon('award')
						.title.text-primary.fw-500 Второе место
				.col-lg: .col-wrapper-scroll
					.h5.text-primary.mb-30 «Времён<br>связующая нить»
					+e.wrap.wrap_blue
						+e.item
							.h5.mb-26 Проблематика
							p В деревне Бадьярово Шарканского района Удмуртской Республики проживают 124 жителя. В деревне отсутствуют учреждения культуры, образования и иные социальные объекты. Также нет благоустроенных общественных пространств, где жители имелибы возможность организованно провести свой досуг.
						+e.item
							.h5.mb-26 Действие/решение
							p Для решения проблемы организации досуга населения администрация округа с жителями создали в пустующем здании музей старинных вещей. Жителями были собраны старинные реликвии, в том числе ткацкий станок. Вечерами женщины стали заниматься в музее вязанием. Единственная хранительница традиций народного ткачества — Чазова А.С. (89 лет) — обучила ткацкому мастерству местных женщин и всех желающих. К ним присоединились другие и также увлеклись ткачеством. Инициативная группа подала заявку на конкурс «Старшие», выиграла грант на приобретение ткацких станков. На этом жители не остановились. Они благоустроили прилегающую к музею территорию, создав детскую площадку и общественное пространство с уличной сценой, установили арт-объекты в деревне.
						+e.item
							.h5.mb-26 Результат
							p В результате появилось место, где женщины деревни проводят свободное времяс пользой. Они восстановили традиционные тканые узоры удмуртов и используютих в своих изделиях. Также они вяжут теплые шерстяные носки для участников СВО, плетут маскировочные сети. Проводят мастер-классы для желающих. У детей появилось место для игр. Летом на площадке жители совместно с администрацией округа провели фестиваль «Времён связующая нить». Он был посвящён объединению семейных родов и сохранению национальных традиций. Фестиваль собрал более 1000 человек.
						+e.item-person
							+e.img-person-wrap: +img('img/user.png')
							.name.fw-500 Муклин Василий Геннадьевич
							.secondary Глава муниципального образования «Муниципальный округ Шарканский район Удмуртской Республики»
	// #modal-call

	
	// end modals