mixin sDocuments(data)
	// start sDocuments
	+b.SECTION.sDocuments.section#sDocuments&attributes(attributes)
		.container
			+e.row.row
				+e.col.col-lg-4: +downlFile('Положение о Премии', 1)
				+e.col.col-lg-4: +downlFile('Заявление на участие для сельских старост (Приложение №1)', 1)
				+e.col.col-lg-4: +downlFile('Заявление на участие для сельских старост (Приложение №2)', 1)
				+e.col.col-lg-4: +downlFile('Заявка на участие для членов ТОС (Приложение №3)', 1)
				+e.col.col-lg-4: +downlFile('Справка о Всероссийской муниципальной премии «Служение»', 1)
				+e.col.col-lg-4: +downlFile('Логотип', 1)
				+e.col.col-lg-4: +downlFile('Презентация проета', 1)
				+e.col.col-lg-4: +downlFile('Логотип в вектороном формате', 1)
	// end sDocuments