// start .sAwardSteps
#sAwardSteps2 {
  
	--sPT: #{rem(42)};
	--sPB: #{rem(34)};
  .award-step:not(.award-step--blue) .award-step__title {
    max-width: rem(250);
  }
}
.sAwardSteps {
	// --sPT: #{rem(60)};
	--sPB: #{rem(0)};
  @include media-breakpoint-up(lg) {
    --sTPB: #{rem(52)};
  }
	&__row{
		--bs-gutter-y: #{rem(30)};
	}
	.section-title{
		display: flex;
    justify-content: space-between;
    align-items: baseline;
    @include media-breakpoint-up(lg) {
      align-items: flex-end;
    }

    a {
      color: $blue-600;
      font-weight: 500;
      text-wrap: nowrap;
      .icon {
        transform: translateY(-5%);
      }
    }
	}

  h2 {
    margin-bottom: 0;
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAwardSteps

.award-step {
  padding: rem(24) rem(30);
  background: $blue-200;
  border-radius: 24px;
  height: 100%;
  &:not(.award-step--blue) {
    min-height: rem(210);
    @include media-breakpoint-up(lg) {
      min-height: rem(310);
    }
  }

  display: block;

  &__data {
    position: relative;
    z-index: 2;
    margin-bottom: rem(20);
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(24);
    }
  }

  &__title {
    text-wrap: balance;
    position: relative;
    z-index: 2;
  }

  &--blue {
    background: $primary;
    color: $white;
    position: relative;
    overflow: hidden;

    .img {
      height: 100%;
      width: 110%;
      object-fit: cover;
      right: 0;
      @include media-breakpoint-up(lg) {
        width: 100%;
        // object-fit: contain;
      }
      @include media-breakpoint-up(xxl) {
        right: 20px;
        max-width: 70%;
      }
      z-index: 1;
      position: absolute;
      top: 0;
    }
  }

  &--with-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .icon {
      fill: $blue-600;
    }
  }
}