mixin sAwardSteps(data)
	// start sAwardSteps
	+b.SECTION.sAwardSteps.section#sAwardSteps&attributes(attributes)
		.container
			+b.section-title
				h2 Этапы премии
				a(href='#') Все этапы
					+icon('arr-next')
			+e.row.row
				+e.col.col-lg-4: +awardStep('5 ноября', '')
					+e.title.h5.fw-700 Подача заявок<br> участниками
				+e.col.col-lg-4: +awardStep('21 января', '')
					+e.title.h5.fw-700 Первичный <br>анализ заявок
				+e.col.col-lg-4: +awardStep('3 февраля', 'Перекрестное голосование среди участников')
	// end sAwardSteps

mixin awardStep(data, title)
	+b.award-step.A(href='#')
		+e.data.color-add.fw-500= data
		if title
			+e.title.h5.fw-700= title
		if block
			block