// start .sNews
.sNews {
	--sPT: #{rem(60)};
	--sPB: #{rem(18)};
  @include media-breakpoint-up(lg) {
    --sPT: #{rem(120)};
    --sPB: #{rem(110)};
	--sTPB: #{rem(54)};
  }
	
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: #{rem(35)};
    @include media-breakpoint-up(lg) {
      --bs-gutter-y: #{rem(40)};
    }
	}
  h2 {
    margin-bottom: 0;
    color: $blue-600;
  }
	.section-title{
		display: flex;
    justify-content: space-between;
    align-items: baseline;
    @include media-breakpoint-up(lg) {
      align-items: flex-end;
    }

    a {
      .icon {
        transform: translateY(-10%);
      }
    }
	}

  .btn-link {
    color: $blue-600;
    font-weight: 500;
  }

	&__items-wrap {
    @include media-breakpoint-up(xxl) {
      margin-left: rem(120);
    }
	}

	.news-item:not(:last-child) {
    margin-bottom: rem(30);
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(60);
    }
  }

  &__img-wrap {
    position: relative;
    height: 100%;
    color: $white;
    border-radius: $border-radius;
    overflow: hidden;
    display: block;
    @include media-breakpoint-down(lg) {
      @include block(240,342);
    }

    @include media-breakpoint-up(lg) {
      margin-top: rem(6);
    }
    @include media-breakpoint-up(xl) {
      max-height: rem(640);
    }

    img {
      @include mt;
    }
    &:hover img {
      transform: scale(1.1);
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .5;
      z-index: 0;

      background: linear-gradient(1deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    padding: rem(20) rem(30);
    @include media-breakpoint-up(lg) {
      padding: rem(32) rem(37);
      padding-bottom: rem(22);
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

    .text  {
      line-height: 1.2;
      margin-top: rem(32);
      text-wrap: balance;
      @include media-breakpoint-down(md) {
        margin-top: rem(16);
      }
    }
  }

  .news-item {
    @include media-breakpoint-down(lg) {
      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }
    }
  }

  .h3 {
    @include media-breakpoint-down(md) {
      font-size: rem(20);
    }
  }

  &__data {
    @include media-breakpoint-down(md) {
      font-size: rem(13);
    }
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sNews

.news-item {
  display: inline-block;
  &__title {
    line-height: 1.2;
    margin-top: rem(20);
    text-wrap: balance;
    margin-bottom: 0;
    @include media-breakpoint-down(md) {
      font-size: rem(20);
      margin-top: rem(10);
    }
  }
  &:hover {
    color: $primary;
  }

  &__data {
    @include media-breakpoint-down(md) {
      font-size: rem(13);
    }
  }
}