@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arr-next {
	$h: 15;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(14 / #{$h} *1em );
}
.icon-arr-top {
	$h: 18;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(22 / #{$h} *1em );
}
.icon-award {
	$h: 95;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(63 / #{$h} *1em );
}
.icon-basket {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(22 / #{$h} *1em );
}
.icon-chat {
	$h: 80;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(80 / #{$h} *1em );
}
.icon-check {
	$h: 27;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(27 / #{$h} *1em );
}
.icon-chevron-left {
	$h: 46;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(30 / #{$h} *1em );
}
.icon-chevron-right {
	$h: 46;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(30 / #{$h} *1em );
}
.icon-clip {
	$h: 18;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(19 / #{$h} *1em );
}
.icon-exit {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-fb {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-instagram {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-link {
	$h: 26;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(26 / #{$h} *1em );
}
.icon-news {
	$h: 80;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(80 / #{$h} *1em );
}
.icon-odnoklassniki {
	$h: 28;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-pdf {
	$h: 32;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(23 / #{$h} *1em );
}
.icon-pencil {
	$h: 12;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(12 / #{$h} *1em );
}
.icon-people {
	$h: 80;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(91 / #{$h} *1em );
}
.icon-plus {
	$h: 14;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(14 / #{$h} *1em );
}
.icon-telegram {
	$h: 28;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(28 / #{$h} *1em );
}
.icon-touch {
	$h: 80;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(92 / #{$h} *1em );
}
.icon-user {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-viber {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-vk {
	$h: 28;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(30 / #{$h} *1em );
}
.icon-vote {
	$h: 35;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(32 / #{$h} *1em );
}
.icon-whatsapp {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
