// start .headerBlock
.headerBlock {
  &--main-page {
    --sPT: #{rem(85)};
    --sPB: #{rem(26)};
    // --sTPB: #{rem()}; 
    @include media-breakpoint-up(md) {
      --sPT: #{rem(200)};
    }
    @include media-breakpoint-up(lg) {
      --sPT: #{rem(320)};
      --sPB: #{rem(118)};
      --sTPB: #{rem(138)};
      }
  }
  .top-nav2__btn-col {
    display: flex;
    gap: rem(14);
    align-items: center;
    flex-direction: column;
    margin-bottom: rem(60);
  }
  .line-r {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      left: 95%;
      top: 0;
      background: white;
      @include media-breakpoint-up(lg) {
        height: rem(192);
        transform: translateY(-25%);
        left: 75%;
      }
    }
  }
  .line-l {
    position: relative;
    &:after {
      @include media-breakpoint-up(lg) {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        // left: 0;
        top: 0;
        background: white;
        height: rem(192);
        transform: translateY(-25%);
        right: 100%;
      }
    }
  }

  .logo-img {
    @include media-breakpoint-down(lg) {
      width: rem(76);
      margin-right: 10vw;
    }
  }

  .img2 {
    @include media-breakpoint-down(lg) {
      width: rem(63);
    }
  }

  &--second {
    --sPT: #{rem(0)};
    --sPB: #{rem(0)};
    min-height: rem(267);
    @include media-breakpoint-up(lg) {
      min-height: rem(470);
    }
    .wrap {
      position: absolute;
      bottom: 20px;
      left: var(--bg-gutter-x);
      @include media-breakpoint-up(lg) {
        bottom: 105px;
      }
    }
    .container {
      min-height: rem(267);
      @include media-breakpoint-up(lg) {
        min-height: rem(470);
      }
    }
  }

  &--small {
    --sPT: #{rem(0)};
    --sPB: #{rem(0)};
    min-height: rem(267);
    @include media-breakpoint-up(lg) {
      min-height: rem(299);
    }
    .wrap {
      position: absolute;
      bottom: 20px;
      left: var(--bg-gutter-x);
      @include media-breakpoint-up(lg) {
        bottom: 10px;
      }
    }
    .container {
      min-height: rem(267);
      @include media-breakpoint-up(lg) {
        min-height: rem(299);
      }
    }
  }

	position: relative;
	color: $white;

	&::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
  }
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}

  p {
    max-width: rem(572);
    font-weight: 500;
    @include media-breakpoint-up(lg) {
      margin-left: rem(10);
    }
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }

	.section-title{
    h1 {
      line-height: .94;
    }
    @include media-breakpoint-up(lg) {
      margin-top: rem(-40);
    }
	}

	.right-wrap {
    display: flex;
    align-items: center;
    gap: rem(23);
    @include media-breakpoint-up(lg) {
      flex-direction: column;
      margin-top: rem(-24);
      margin-left: auto;
      max-width: max-content;
      gap: rem(25);
    }
    .small {
      // margin-bottom: rem(25);
    }
  }
  

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock