mixin sProject(data)
	// start sProject
	+b.SECTION.sProject.section#sProject&attributes(attributes)
		.container
			+e.row.row
				+e.col.col-lg-8.order-lg-last
					.fw-500 Название проекта
					.h5.text-primary Эффективная реализация проектов комплексного развития сельских территорий в рамках государственной программы Российской Федерации «Комплексное развитие сельских территорий»
				+e.col.col-lg-4
					.vote-item__stars(data-star=1)
						+img(src=`img/svg/sl.svg`, alt="")
						+img(src=`img/svg/sl.svg`, alt="")
						+img(src=`img/svg/sl.svg`, alt="")
					+e.btn.btn.btn-primary(href='#') Голосовать за проект
			+e.project-row.row
				+e.col.col-lg-4
					.nomination-item 
						.fw-500 Номинация
						.title Инициатива каждого — общий успех
					.nomination-item 
						.fw-500 Регион
						.title Центральный федеральный округ
					.nomination-item 
						.fw-500 Муниципалитет
						.title Владимирская область
				+e.col.col-lg-8
					+e.item
						.title Проблематика
						p На&nbsp;территории Ярославской области с&nbsp;2018 года формируется комплексная система обращения с&nbsp;твердыми коммунальными отходами, частью которой является создание условий вторичной переработки запрещенных к&nbsp;захоронению отходов производства и&nbsp;потребления, в&nbsp;состав которых входят полезные компоненты, подлежащие утилизации. В&nbsp;настоящее время в&nbsp;городе Рыбинске нет централизованного раздельного сбора отходов от&nbsp;населения. Поэтому, важной задачей является формирование экологической культуры у&nbsp;подрастающего поколенияи в&nbsp;обществе в&nbsp;целом.
					+e.item
						.title Действие/решение
						p Идеей экологической акции &laquo;РАЗ!ДЕЛЬНЫЙ СБОР МАКУЛАТУРЫ!&raquo; является популяризация раздельного сбора отходов и&nbsp;их&nbsp;переработки, сокращение количества отходов, подлежащих захоронению. Принимая участие в&nbsp;акции, дети вовлекают в&nbsp;процесс сбора и&nbsp;накопления макулатуры людей из&nbsp;своего окружения. Таким образом, в&nbsp;обществе формируется правильная модель обращения с&nbsp;отходами.
					+e.item
						.title Результат
						p Участниками конгресса стали 80&nbsp;представителей профессионального экологического сообщества из&nbsp;26&nbsp;организаций региона и&nbsp;экспертное сообщество из&nbsp;России. Присутствовали специалисты всех муниципалитетов.Сформирован банк специалистов.Проведен первый в&nbsp;регионе мастер-класс по&nbsp;обрезке деревьев и&nbsp;высадки деревьев для работников администрации и&nbsp;подрядчиков города Черняховска. Посажена аллея сирени. Планируется серия мастер-классов по&nbsp;обрезке и&nbsp;внедрение биомониторинга в&nbsp;регионе. При планировании городских территорий приоритет- зеленые насаждения.
	// end sProject

