// start .sAuth
.sAuth {
	--sPT: #{rem(30)};
	--sPB: #{rem(34)};
	// --sTPB: #{rem()};
      @include media-breakpoint-up(md) {
        --sPT: #{rem(40)};
        --sPB: #{rem(34)};
      }
	
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title{
		
	}
	.card {
		// padding: rem(30) 0;
		@include media-breakpoint-up(md) {
      background: hsla(204, 48%, 94%, 0.5);
      border-radius: rem(30);
			padding: rem(66) 0;
		}

    &_sm {
      @include media-breakpoint-up(md) {
        padding: rem(44) 0;
      }
    }
    
		@include media-breakpoint-down(md) {
      padding: rem(30) rem(20);
      border-radius: $border-radius;
      background: hsla(204, 48%, 94%, 0.5);
    }
    p {
      margin-bottom: 0;
      text-wrap: pretty;
    }
    .title {
      margin-bottom: rem(30);
    }
    &-lg.card {
      padding: rem(95) rem(30);
      @include media-breakpoint-up(md) {
        padding: rem(80) rem(20);
      }
    }
	}

  .success-title {
		@include media-breakpoint-down(md) {
      max-width: calc(100% - calc(var(--m-left) * 2));
      margin: auto;
    }
  }

	&__tabs-caption {
		display: flex;
		justify-content: center;
		margin-bottom: 32px;
		@include media-breakpoint-up(md) {
			margin-bottom: 40px;
		}
	}

	&__tabs-btn {
		position: relative;
		color: $gray-500;
		font-size: rem(16);
		width: calc((100% - 10px) / 2);
    padding-bottom: rem(12);
		@include media-breakpoint-up(md) {
			font-size: rem(24);
			width: 304px;
      padding-bottom: rem(24);
		}
		&.active {
			color: $primary;
			&::after {
				background-color:  $primary;
			}
		}
		&:not(:last-child) {
			margin-right: #{rem(10)};
      @include media-breakpoint-up(lg) {
        margin-right: var(--bs-gutter-x);
      }
		}
		&::after {
			position: absolute;
			content: '';
			bottom: 0;
			left: 0;
			height: 3px;
			width: 100%;
			background-color: $gray-500;
      @include media-breakpoint-up(lg) {
        height: 6px;
      }
		}
  }

  .form-wrap {
    max-width: calc(100% - calc(var(--m-left) * 2));
    margin: auto;
    @include media-breakpoint-up(md) {
      max-width: rem(640);
    }
  }

  .auth-row {
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-between;
    }
    .btn {
      width: 100%;
      @include media-breakpoint-up(md) {
        width: 30%;
      }
    }
    .password {
      margin-bottom: rem(48);
    }
  }

  .mt-50 {
    margin-top: rem(14);
    @include media-breakpoint-up(md) {
      margin-top: rem(20);
    }
  }

  .forgot-link {
    display: flex;
    gap: rem(30);
    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      gap: rem(10);
    }

    a {
      text-decoration: underline;
    }

    .descr a {
      color: $primary;
    }
    .descr_small {
      @include media-breakpoint-up(md) {
        font-size: rem(14);
      }
    }

    .password {
      @include media-breakpoint-up(md) {
        width: 32%;
      }
    }

    .btn {
      width: 100%;
      flex-shrink: 0;
      @include media-breakpoint-up(md) {
        width: 191px;
      }
    }
  }

  .fill {
    margin-bottom: rem(28);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(40);
    }
  }

  .form-wrap__input-title {

    @include media-breakpoint-down(md) {
      margin-bottom: rem(10);
    }
  }

  .form-wrap__captcha {
    border-radius: 8px;
    overflow: hidden;
    border: var(--bs-border-width) solid #111;
    margin-bottom: rem(33);
    background: white;
  }
  textarea {
    height: rem(92);
  }

  .forgot-link {
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAuth