mixin sUser(data)
	// start sUser
	+b.SECTION.sUser.section#sUser&attributes(attributes)
		.container
			+b.form-wrap
				.row
					+e.col.col-auto
						.sUser__photo
							+uploadAvatar()
					+e.col.col-lg
						.sUser__wrap
							.sUser__item
								.sUser__person Муклин Василий Геннадьевич
								a.sUser__link.fw-500(href="#") Редактировать профиль
									+icon('pencil')
								a.sUser__link.sUser__return-link.fw-500.ms-auto(href="#") Выйти
							.sUser__item
								.sUser__email
									+input('', 'email', 'E-mail')(value="email@email.ru")
								.sUser__tel
									+input('', 'tel', 'Телефон')(value="+7 (000) 000 00 00")


	// end sUser