mixin sNominations(data)
	// start sNominations
	+b.SECTION.sNominations.section#sNominations&attributes(attributes)
		.container: +e.inner-wrapper
			+b.section-title
				h2 Номинации
			+ddGroup
				+ddGroupItem('МОЙ КРАЙ — МОЯ ГОРДОСТЬ','active','')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('МАЛАЯ РОДИНА — СИЛА РОССИИ')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('ПРЯМОЙ РАЗГОВОР — ДОВЕРИЕ К ВЛАСТИ')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('ОБЪЕДИНЯЯ УСИЛИЯ — УМНОЖАЕМ ВОЗМОЖНОСТИ')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('ИНИЦИАТИВА КАЖДОГО — ОБЩИЙ УСПЕХ')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('ИНСТИТУТ НАСТАВНИЧЕСТВА — ДЛЯ БУДУЩЕГО СТРАНЫ')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('ЗАЩИТНИКИ РОДИНЫ — ЛИДЕРЫ БУДУЩЕГО')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('БЛАГОПОЛУЧИЕ СЕМЬИ — ПРИОРИТЕТ ГОСУДАРСТВА')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('МУНИЦИПАЛЬНОЕ СЛУЖЕНИЕ — ДЛЯ ОБЩЕГО БЛАГА')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('СУДЬБА ЧЕЛОВЕКА — ГОРДОСТЬ ОТЕЧЕСТВА', '', 'Специальная номинация','btn')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры
	// end sNominations