// start .sStats
.sStats {
	// --sPT: #{rem()};
  @include media-breakpoint-up(lg) {
    --sTPB: #{rem(67)};
    --sPB: #{rem(40)};
    --sPT: #{rem(40)};
  }

	h2 {
    @include media-breakpoint-up(lg) {
      font-size: rem(40);
    }
  }

	&__count {
		@include roww('3px', '', m);
		display: flex;
		justify-content: center;
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(10)};
		}
		.number {
			@include rfs(200px);
			color: $primary;
			text-align: center;
			font-weight: 300;
			line-height: 1;
			border-radius: 6px;
			border: 1px solid $primary;
			// background-color: #FFF;
			padding: rem(3) rem(3.6);
			@include media-breakpoint-up(sm) {
				padding: rem(14) rem(10);
				border-radius: $border-radius;
			}
			@include media-breakpoint-down(sm) {
				font-size: rem(80);
			}
		}
	}

  &__map {
		position: relative;
		margin: rem(-89px) auto rem(-45);
	}
	svg {
		overflow: visible;
    width: calc(100vw - rem(140));
    margin-left: calc(((100vw - 100%) / -2) + rem(70));
		max-width: rem(1440);
		// @media screen and (min-width: 1570px) {
		// 	margin-left: calc(-50% );
    // 	transform: translateX(25%);
		// }
		g {
			&.reg-1, &.reg-2, &.reg-3, &.reg-4, &.reg-5, &.reg-6, &.reg-7, &.reg-8, &.reg-9 {
				&:hover, &.active {
					& > path, .color > path {
						fill: #115492;
						stroke: $primary;
						filter: drop-shadow(0px 0px 13px $primary);
					}
					g {
						opacity: 1;
					}
				}
			}
			&.reg-4 {
				g {
					transform: translate(100px, 599px);
				}
			}
			&.reg-3 {
				transform: translateY(494px) translateX(0px);
				& > g {
					transform: translateX(44px);
				}
			}
			&.reg-7 {
				transform: translate(455px, 204px);
				& > g {
					transform: translate(-455px,-204px);
				}
			}
			&.reg-8 {
				transform: translateX(743px);
				.line-8 {
					transform: translateX(-743px);
				}
			}
			&.reg-9 {
				transform: translateX(12px) translateY(474px);
				& > g {
					transform: translateX(12px);
				}
			}
			g {
				@include mt;
				opacity: 0;
			}
			.color {
				opacity: 1;
			}
		}
		path {
			cursor: pointer;
			@include mt;
		}
	}

  &__row {
		// max-width: rem(1076);
		// margin: 0 auto;
    margin-bottom: rem(65);
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(95);
    }
		.row {
			--bs-gutter-x: #{rem(18)};
			--bs-gutter-y: #{rem(33)};

			justify-content: center;
			@include media-breakpoint-up(lg) {
				--bs-gutter-y: 0;
			}
			@include media-breakpoint-up(xl) {
				--bs-gutter-x: #{rem(24)};
			}
		}
	}

	&__map-col {
		text-align: center;
	}

	&__col {
		@include media-breakpoint-up(lg) {
			max-width: calc(rem(251) + var(--bs-gutter-x));
		}
	}

	&__item {
		@include mt;
		padding: rem(32) rem(22.079);
		display: flex;
		flex-direction: column;
		height: 100%;
		min-height: rem(216);
		border-radius: 20px;
		border: 1px solid $primary;
		background-color: white;
		box-shadow: 0px 0px 30px 0px rgba(15, 112, 202, 0.25);
		color: $primary;
		position: relative;
		z-index: 1;
		@include media-breakpoint-up(lg) {
			cursor: pointer;
		}
		@include media-breakpoint-up(xl) {
			padding: rem(30) rem(12) rem(34);
      padding-left: rem(34);
			cursor: pointer;
		}
		&:hover, &.active {
			@include media-breakpoint-up(lg) {
				box-shadow: none;
				color: #fff;
				background-color: $primary;
			}
		}
		p {
			font-size: rem(20);
			// line-height: 1.35;
			margin-bottom: rem(8);
      text-wrap: balance;
		}
		span {
			margin-top: auto;
			font-size: rem(20);
			line-height: 1.35;
			font-weight: 600;
		}
		.line {
			position: absolute;
			&--1 {
				top: 100%;
				left: 14%;
			}
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sStats