mixin sApplication(data)
	// start sApplication
	+b.SECTION.sApplication.section#sApplication&attributes(attributes)
		.container
			+e.steps
				+e.step.active Шаг 1
				+e.step Шаг 2
			.card
				+form-wrap
					+e.row.row
						+e.col.col-md-4
							+input('', 'text', 'ИНН')
						.col-md
							.form-wrap__input-wrap.form-wrap__input-wrap--select.form-group
								label
									span.form-wrap__input-title Номинация
									select(name="select").form-wrap__input.form-select
										option(value="")
										option(value=" placeholder 1") placeholder 1
										option(value=" placeholder 2") placeholder 2
										option(value=" placeholder 3") placeholder 3
										option(value=" placeholder 4") placeholder 4
						.col-12
							+input('', 'text', 'Название проекта')
						.col-12
							+input('', 'text', 'Отрасль')
						.col-12
							.video-able: +in-c('checkbox', 'Возможность предоставить видео-презентацию').order-last
						.col-12
							.title.text-primary.fw-500 Контакты
						.col-12.col-md-6
							+input('', 'tel', 'Телефон')
						.col-12.col-md-6
							+input('', 'text', 'Ссылка')
						.col-12
							.form-wrap__input-title.radio Тип заявки
							.form-wrap__input-wrap.form-wrap__input-wrap--radio.form-group
								.wrap
									+in-c('radio', 'Групповая', 'type')
									+in-c('radio', 'Одиночная', 'type')
					.btn-single.btn.btn-primary(href='#') Далее
	// end sApplication

mixin sApplication2(data)
	// start sApplication
	+b.SECTION.sApplication.section#sApplication&attributes(attributes)
		.container
			+e.steps
				+e.step Шаг 1
				+e.step.active Шаг 2
			.card.card_sm
				+form-wrap
					+e.row.row
						.col-12
							.title.text-primary.fw-500 Описание проекта
						.col-12
							+input('', 'textarea', 'Проблематика')
						.col-12
							+input('', 'textarea', 'Действие/решение')
						.col-12
							+input('', 'textarea', 'Результат')
						.col-12
							+e.input-file-title Привлеченный бюджет
							.form-wrap__input-wrap.form-wrap__input-wrap--budget-radio.form-group
								+in-c('radio', 'Да', 'budget')
								+in-c('radio', 'Нет', 'budget')
						.col-12
							+e.input-file-title.top-line Отзывы
							+e.input-file-row.row 
								.col-lg
									+addMore()
										+upload-field
								.col-lg
									+addMore(): +input('Ссылка', 'text')
						.col-12
							+e.input-file-title.top-line Наличие упоминаний в СМИ
							+e.input-file-row.row
								.col-lg
									+addMore()
										+upload-field
								.col-lg
									+addMore(): +input('Ссылка', 'text')
						.col-12
							.top-line
							+input('', 'textarea', 'Награды от главы, от губернаторов')
						.col-12
							+e.input-file-title Письма поддержки
							+e.input-file-row.row
								.col-lg
									+addMore()
										+upload-field
								.col-lg
					.auth-row
						+e.btn.btn.btn-dark(href="#") Назад
						+e.btn.btn.btn-primary.BUTTON Подать заявку

mixin sApplicationSuccess(data)
	// start sAuth
	+b.SECTION.sApplication.section#sApplication&attributes(attributes)
		.container
			.card.card_sm.text-center
				.success-title.text-primary Спасибо Ваша заявка принята!