extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Modals page '
	title= title
block pagecontent
	//- +mob-mnu()
	
	

	main
		+page-head(title,title, title, title , title,title, title, title, title,title, title, title)
		mixin btn(a, t)
			a( href= a).btn.btn-primary.link-modal-js= t
			//- +btn("#modal-call", 'call')
		.section.container
			h2 Народное голосование
			+btn("#modal-project", 'Описание проекта')
		.section.container
			h2 Победители
			+btn("#modal-winner", 'Подробнее')
	+parts('footer')
      



