extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sNominations/_sNominations.pug
 
include ../blocks/sAwardSteps/_sAwardSteps.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sSupervisory/_sSupervisory.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header-2')
	main
		+headerBlock 
		+sNominations
		+sAwardSteps
		+sNews
		+sSupervisory
		+sPartners('Партнеры номинаций')
	+parts('footer')