mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			.h5 Председатель
			+e.row.row
				+e.col.col-lg-6
					+contentCard(1, 'Кириенко С.В.', 'Первый заместитель Руководителя Администрации Президента Российской Федерации').--darken
				//- +e.col
				//- 	.title.top-line: .h5 Заместители
			.title.top-line: .h5 Состав
			+e.row.row
				+e.col.col-lg-6
					+contentCard(4, 'Патрушев Д.Н.', 'Министр сельского хозяйства Российской Федерации')
				+e.col.col-lg-6
					+contentCard(5, 'Силуанов А.Г.', 'Министр финансов Российской Федерации')
				+e.col.col-lg-6
					+contentCard(2, 'Решетников М.Г.', 'Министр экономического развития Российской Федерации')
				+e.col.col-lg-6
					+contentCard(3, 'Гусева И.М.', 'Сопредседатель ВАРМСУ, член президиума Совета при Президенте Российской Федерации по развитию местного самоуправления')
				+e.col.col-lg-6
					+contentCard(6, 'Шевченко А.А.', 'Председатель Комитета Совета Федерации по федеративному устройству, региональной политике, местному самоуправлению и делам Севера, сопредседатель ВАРМСУ')
	// end sContent

mixin contentCard(img, name, text, cl)
	+b.content-card&attributes(attributes)
		+e.img-wrap: +img(`img/manager-${img}.png`).img-bg
		+e.content
			+e.name.fw-500= name
			+e.text= text