// start .sVote
.sVote {
	--sPT: #{rem(32)};
	--sPB: #{rem(54)};
	// --sTPB: #{rem(28)};
  @include media-breakpoint-up(lg) {
    // --sPT: #{rem(32)};
    --sPB: #{rem(44)};
    // --sTPB: #{rem(28)};
  }
	
	&__row {
		--bs-gutter-y: var(--bs-gutter-x);
	}
	.text-primary h2 {
		line-height: 1.2;
    margin-bottom: 0;
    @include media-breakpoint-up(lg) {
		line-height: 107%;
    }
	}
	
  p {
    text-wrap: pretty;
    // margin-bottom: rem(20);
    line-height: 1.2;
    @include media-breakpoint-up(lg) {
    margin-bottom: rem(20);
    }
  }

  &__btn {
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: rem(192);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--bs-gutter-x);
    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: min-content 1fr;
      align-items: start;
    }
  }

  &__text {
    @include media-breakpoint-up(lg) {
      grid-row: 1 / span 2;
      grid-column: 2/-1;
    }
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sVote
// start .sVote

.for-empty {
  min-height: rem(260);
  margin-bottom: rem(40);
}

#sVoteProjects2 {
  --sPT: #{rem(26)};
	--sTPB: #{rem(20)};
	@include media-breakpoint-up(lg) {
    --sPT: #{rem(10)};
    --sTPB: #{rem(30)};
  }
}

.sVoteProjects {
	--sPT: #{rem(34)};
	--sPB: #{rem(54)};
	--sTPB: #{rem(54)};
	@include media-breakpoint-up(lg) {
    --sPT: #{rem(34)};
    --sPB: #{rem(34)};
    --sTPB: #{rem(56)};
  }

	&__row {
		--bs-gutter-y: var(--bs-gutter-x);
		--bs-gutter-x: #{rem(10)};
      @include media-breakpoint-up(lg) {
        --bs-gutter-x: #{rem(30)};
    }
	}

  &__wrap-btn {
    margin-top: rem(74);
    @include media-breakpoint-down(lg) {
      margin-top: rem(54);
      &::before {
        content: none;
      }
    }
  }

  &__btn {
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: rem(192);
    }
  }
}

.vote-item {
  --padding: 18px;
  position: relative;
  border: 1px solid $body-color;
  border-radius: $border-radius-sm;
  &:not(.vote-item--js) {
    label {
      pointer-events: none;
    }
  }
  @include media-breakpoint-up(lg) {
    --padding: 20px;
  }


  label {
    padding: var(--padding);
    height: 100%;
    min-height: rem(196);
    @include media-breakpoint-up(lg) {
      min-height: rem(227);
    }

    position: relative;

    input {
      position: absolute;
      right: var(--padding);
      bottom: var(--padding);
      // height: rem(24);
      // width: rem(24);
      &:not(:checked) {
        opacity: 0;
      }
    }
  }

  &__stars {
    position: absolute;
    bottom: var(--padding);
    left: var(--padding);
  }

  &--btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: var(--padding);
    min-height: rem(198);
    @include media-breakpoint-up(lg) {
      min-height: rem(220);
      label {
        min-height: auto;
      }
    }
    height: 100%;
    label {
      padding: 0;
      min-height: auto;
      height: auto;
    }
  }

  &.checked {
    color: $primary;
    border-color: $primary;
    .span {
      background: $primary;
    }
  }

  .button-open-modal {
    position: absolute;
    top: calc(var(--padding));
    right: calc(var(--padding) - 6px);
    z-index: 2;
  }

  .custom-input__text {
    display: inline-block;
    max-width: 190px;
    @include media-breakpoint-up(lg) {
      max-width: calc(100% - 52px);
    }
  }
}

.button-open-modal {
  cursor: pointer;
  max-height: max-content;
  padding: rem(5);
  display: flex;
  flex-direction: column;
  gap: rem(8);

  .span {
    --width: 27px;
    width: var(--width);
    height: 1px;
    background: $body-color;
    position: relative;
  }
}

.vote-item__stars {
  img {
    opacity: .1;
    max-height: rem(41);
    // font-size: rem(34);
    // fill: $primary;

    &:not(:last-child) {
      margin-right: rem(14);
    }
  }
}
@for $n from 1 through 3 {
  .vote-item__stars[data-star="#{$n}"] {
    img:nth-child(-n + #{$n}) {
      opacity: 1;
    }
  }
}
