// start .sPartners
#sPartners2 {
	--sPT: #{rem(30)};
	--sPB: #{rem(20)};
	--sTPB: #{rem(20)};
  @include media-breakpoint-up(lg) {
    --sPT: #{rem(36)};
    --sPB: #{rem(80)};
  }
}
// start .sPartners
#sPartners3 {
	--sPT: #{rem(26)};
	--sPB: #{rem(47)};
	--sTPB: #{rem(28)};
}

.sPartners {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	
  @include media-breakpoint-up(lg) {
    --sPB: #{rem(98)};
    --sTPB: #{rem(100)};
  }
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
		@include roww('8px', '10px', m);
		display: flex;
		flex-wrap: wrap;
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(32)};
			--bs-gutter-y: #{rem(32)};
		}
	}

  h5 {
    font-size: rem(24)
  }

  .partner-item {
		img{
			@include mt;
			scale: 1;
		}
		&:hover{
			img{
				scale: 1.08;
			}
		}
		--cardCount: 2;

		@include media-breakpoint-up(sm) {
			--cardCount: 3;
		}
		@include media-breakpoint-up(md) {
			--cardCount: 4;
		}
		@include media-breakpoint-up(lg) {
			--cardCount: 6;
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sPartners

.partner-item {
	@include block(1,1);
	// max-width: rem(210);
  &:not(.partner-item--no-border) {
    border: 1px solid $gray-400;
    border-radius: rem(6);
    padding: rem(10);
  }
	display: flex;
	align-items: center;
	justify-content: center;
  width: calc(100% / var(--cardCount) - var(--bs-gutter-x));
	img {
		max-height: 100%;
	}

  &--no-border {
    padding-left: 0;
    padding-right: 0;
    @include media-breakpoint-down(md) {
      width: 100%;
      --ratio: auto;
      display: none;
      .btn {
        margin-top: rem(20);
        width: 100%;
      }
    }
  }
}


.top-line {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -35px;
    left: 0;
    width: 100%;
    height: 1px;
    background: $body-color;
    @include media-breakpoint-up(lg) {
      top: -38px;
    }
  }
}
