mixin menu-toggle()
	+b.toggle-menu-mobile--js
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav(main) 
	// start top-nav
	+b.top-nav.block-with-lazy&attributes(attributes)
		+img(src="img/menu-bg-2.png", alt="").img-bg.header-vis
		.container
			+e.row.row
				.col.col-lg-auto.col-xxl-2
					if (!main)
						+e.logo.logo-to-top(href='/'): +img('img/svg/logo-sl.svg')
					if (main)
						+e.logo.header-vis(href='/'): +img('img/svg/logo-sl.svg')
						+e.logo.header-hid(href='/'): +img('img/svg/logo-municipal.svg')
				+e.col.col-auto.col-lg.order-lg-0.order-last
					.d-none.d-xxl-block.title-menu: +mnu()
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+e.row-inner.row
								.col-md-auto
									+e.logo(href='/'): +img('img/svg/logo-sl.svg')
								+e.inner-col.menu-inner.col-md
									+img(src="img/menu-bg.png", alt="").img-bg
									+mnu()
									+e.btn-wrap.text-center
										+e.btn.btn.btn-primary(href='#') Подать заявку
										+e.date.ttu старт 13 ноября
								+e.inner-col.col-md-auto
									.wrap
										+e.lk(href='#'): +icon('user')
										if (!main)
											+e.lk(href='#'): +icon('exit')
										+e.inner-col--mnu-toggle
											+menu-toggle()
				+e.btn-col.col-md-auto.order-last.order-md-0
					+e.btn.btn.btn-primary(href='#') Подать заявку
					+e.date.ttu.text-center старт 13 ноября
				.col-auto.ms-auto.order-last
					.wrap
						+e.btn-wrap.text-center.d-md-none
							+e.btn.btn.btn-primary(href='#') Подать заявку
							+e.date.ttu старт 13 ноября
						+e.lk(href='#').d-none.d-md-block: +icon('user')
						if (!main)
							+e.lk(href='#').d-none.d-md-block: +icon('exit')
						+menu-toggle()
	// end top-nav


mixin top-nav2
	// start top-nav
	+b.top-nav--blue.block-with-lazy&attributes(attributes)
		+img(src="img/menu-bg-2.png", alt="").img-bg
		.container
			+e.row.row
				.col.col-lg-auto
					+e.logo.logo-to-top(href='/'): +img('img/svg/logo-sl.svg')
				+e.col.col-auto.col-lg.order-lg-0.order-last
					.d-none.d-xxl-block.title-menu: +mnu()
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+e.row-inner.row
								.col-md-auto
									+e.logo(href='/'): +img('img/svg/logo-sl.svg')
								+e.inner-col.menu-inner.col-md
									+img(src="img/menu-bg.png", alt="").img-bg
									+mnu()
									+e.btn-wrap.text-center
										+e.btn.btn.btn-primary(href='#') Подать заявку
										+e.date.ttu старт 13 ноября

								+e.inner-col.col-md-auto
									.wrap
										+e.lk(href='#'): +icon('user')
										+e.inner-col--mnu-toggle
											+menu-toggle()
				+e.btn-col.col-md-auto.order-last.order-md-0
					+e.btn.btn.btn-primary(href='#') Подать заявку
				.col-auto.ms-auto.order-last
					.wrap
						+e.btn-wrap.text-center.d-md-none
							+e.btn.btn.btn-primary(href='#') Подать заявку
							+e.date.ttu старт 13 ноября
						+e.lk(href='#').d-none.d-md-block: +icon('user')
						+menu-toggle()