 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon{
		font-size: rem(20);
		border: none !important;
	}
	button{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item{
	width: auto;
	// margin-right: rem(32);
}

.btn-to-top-wrap {
  width: max-content;
  .icon {
    fill: none;
    stroke-width: 1px;
    stroke: white;
    font-size: rem(20);
  }
  .btn-to-top {
    cursor: pointer;
    --btn-w: 41px;
    height: var(--btn-w);
    width: var(--btn-w);
    background: black;
    border-radius: 50%;
    margin-left: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    bottom: 40px;
    right: 40px;
    // width: 100%;
    z-index: 10;
  }
}


.download-file {
  padding: rem(29) rem(24);
  border-radius: 24px;
  background: var(--color-card-bg);
	@include media-breakpoint-up(sm) {
    padding: rem(29) rem(30);
  }

  p {
    font-weight: 500;
    margin-bottom: rem(32);
  }

  &__link {
    display: flex;
    align-items: center;
    gap: rem(20);

    width: max-content;
    color: $primary;
    &:hover {
      color: $blue-600;
    }
  }
}


.addMore {
	display: flex;
  align-items: center;
	width: 100%;
	&__plus {
		@include mt;
		cursor: pointer;
		width: rem(24);
		height: rem(24);
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 auto;
		border: 1px solid rgba(17, 17, 17, 0.5);
		color: rgba(17, 17, 17, 0.5);
		margin-left: rem(10);
    border-radius: 4px;
    @include media-breakpoint-up(lg) {
      margin-right: rem(20);
    }
		.icon {
			fill: none;
			stroke: currentColor;
			stroke-width: 1px;
		}
		&:hover {
			color: #fff;
			background-color: $primary;
		}
	}
	&__input-wrap {
		width: 100%;
	}
	&__input {
    border-color: rgba(17, 17, 17, 0.5);
		&::placeholder {
			text-align: center;
			color: rgba(17, 17, 17, 0.5);
		}
	}
}

.upload-field {
	position: relative;
	width: 100%;
	&__title {
		position: relative;
		top: unset;
	}
	&__wrap {
		display: flex;
		align-items: center;
		width: 100%;
	}
	label {
		flex-direction: row;
	}
	&__btn {
		--bs-btn-border-radius: 0;
		--bs-btn-color: #{rgba(17, 17, 17, 0.5)};
		padding: rem(11) rem(6);
		justify-content: center;
    border: 1px solid rgba(17, 17, 17, 0.5);
    border-radius: $border-radius-sm;
		.icon {
			font-size: rem(18);
			margin-left: rem(4);
			@include media-breakpoint-up(sm) {
				font-size: rem(20);
				margin-left: rem(10);
			}
		}
		span {
			font-size: rem(16);
			// font-weight: 700;
			line-height: normal;
			// text-transform: uppercase;
		}
	}
	&__input-wrap {
		width: 100%;
	}
	&__file-name {
		position: absolute;
		line-height: calc(20 / 16);
		top: 100%;
		left: 0;
	}
}
.input-upload {
	display: none;
}


.ranking {
	width: 100%;
	&__descr {
		margin-bottom: rem(30);
	}
	.ranking__row {
		display: flex;
		.form-check {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-right: rem(7) !important;
      padding-left: 0;
      width: auto;
			@include media-breakpoint-up(md) {
				margin-right: rem(10) !important;
			}
			&:last-of-type {
				margin-right: 0;
			}
		}
		.form-check-label {
      margin-right: 0 !important;
		}
		.form-check-input {
			margin-bottom: rem(6);
			border-radius: rem(4);
      margin-left: 0;
			@include media-breakpoint-down(sm) {
        width: 20px;
        height: 20px;
      }
			&:checked[type=radio] {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='4' fill='%230F70CA' /%3E%3Cpath d='M9.68493 17.2C9.44493 17.2 9.22491 17.12 9.04491 16.94L5.06493 12.96C4.70493 12.6 4.70493 12.04 5.06493 11.68C5.42493 11.32 5.98491 11.32 6.34491 11.68L9.70492 15.02L17.6849 7.06004C18.0449 6.70004 18.6049 6.70004 18.9649 7.06004C19.3249 7.42004 19.3249 7.98004 18.9649 8.34004L10.3449 16.94C10.1449 17.12 9.92493 17.2 9.68493 17.2Z' fill='white' /%3E%3C/svg%3E");
				// background-color: $gold;
				// border-color: $gold;
			}
		}
		.form-check-label {
			margin-right: 0;
		}
	}
}

.upload-avatar {
	position: relative;
	&__input-wrap {	
		display: block;	
    width: 192px;
		height: 192px;
		// border-radius: 50%;
		// width: 100%;
		cursor: pointer;
		.img-wrap-center {
			img {
				display: none;
				border-radius: $border-radius;
			}
		}
	}
	&__file-name {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
    bottom: 0;
    right: 0;
    width: 24px;
		height: 24px;
		background-color: $primary;
		border-radius: 4px;
		font-size: 23px;
		color: $white;
	}
	&__delete-photo {
		position: absolute;
		top: 101%;
		left: 50%;
		width: 100%;
		transform: translateX(-50%);
		display: none;
		cursor: pointer;
		@include mt;
		color: $secondary;
		font-size: 14px;
    text-align: center;
	}
	&__stub {
		display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid $blue-200;
    // background: #f3f8fb9d;
    border-radius: $border-radius;
    // position: relative;
    // z-index: -1;
		img {
			width: 100%;
      // border: 1px solid lightblue;
      border-radius: $border-radius;
		}
		// span {
		// 	font-size: rem(24);
		// 	line-height: 1.2;
		// 	text-transform: uppercase;
		// 	color: #fff;
		// 	@include media-breakpoint-up(md) {
		// 		@include rfs(40px);
		// 	}
		// }
	}
	&.active {
		.upload-avatar__input-wrap {
			.img-wrap-center {
				img {
					display: block;
				}
			}
		}

		.upload-avatar__delete-photo {
			display: block;
		}
	}
}
