mixin popularVote()
  +b.SECTION.section 
    .container: +e.inner-wrapper
      div.vote-wrapper
        +img.vote-background-image(src="img/vote.png")
        div.vote-text
          h1 Народное голосование
          h3 31 марта – 13 апреля 2025 года
        button.vote-button Голосовать