// start .sOrders
.sOrders {
	--sPT: #{rem(0)};
	--sPB: #{rem(20)};
  @include media-breakpoint-down(sm) {
    --sPT: #{rem(30)};
    --sPB: #{rem(30)};
  }
	// --sTPB: #{rem()};
	
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title{
		
	}
	&__col{
		
	}
  .order-card:first-child {
    padding-bottom: rem(30);
    row-gap: 0;
    @include media-breakpoint-down(sm) {
      // display: none;
      padding: 0;
      .order-card__title:last-child {
        color: $body-color;
      }
      margin-bottom: rem(32);
    }
  }
	.order-card--blue {
    margin-bottom: rem(10);
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sOrders

.order-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(20);
	@include media-breakpoint-up(sm) {
    grid-template-columns: .8fr 1fr;
  }
	@include media-breakpoint-up(lg) {
    grid-template-columns: .95fr 1fr 200px;
    align-items: center;
  }

  &__title {
    @include media-breakpoint-down(lg) {
      color: $blue-600;
    }
  }

  padding: rem(30) rem(20);
  padding-bottom: rem(22);
	@include media-breakpoint-up(lg) {
    padding: rem(40) rem(5) rem(40) rem(36);
  }

  &--blue {
    background: var(--color-card-bg);
    border-radius: $border-radius;
    @include media-breakpoint-down(lg) {
      border-radius: 8px;
    }
  }

  &__descr-wrap {

    @include media-breakpoint-down(lg) {
      margin-bottom: rem(26);
    }
  }

  &__descr {
    max-width: rem(500);
    // height: max-content;
  }

  &__btn {
    height: calc(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    --margin: calc(40px - 5px);
    @include media-breakpoint-up(lg) {
      border-radius: calc($border-radius - 5px);
      height: calc(100% + var(--margin) * 2);
      margin-bottom: calc(var(--margin) * -1);
      margin-top: calc(var(--margin) * -1);
      // order: 2;
    }
    @include media-breakpoint-down(lg) {
      grid-column: 1/-1;
      border-radius: 8px;
    }

    &:hover .icon {
      stroke: $white;
    }

    .icon {
      font-size: rem(23);
      stroke: $primary;
      stroke-width: .5px;
      fill: none;
    }
  }
}