mixin sArticle(data)
	// start sArticle
	+b.SECTION.sArticle.section#sArticle&attributes(attributes)
		.container
			+e.link-back.fw-500(href='#')
				+icon('arr-next')
				| Все новости
			+e.item
				h2 В Центре знаний «Машук» стартовал образовательный модуль для победителей и лауреатов премии «Служение» по госуправлению
			+e.item: +e.date.color-add.fw-500 08.04.2024
			+e.item: +e.row.row
				+e.col.col-lg-5
					+e.img-wrap
						+img(src=`img/sBlog-3.png`, alt="").img-bg
				+e.col.col-lg-7
					p В Госдуме возобновили работу над новой версией проекта закона о местном самоуправлении, который был одобрен депутатами в первом чтении 25 января 2022 года. С того времени в него было внесено более 700 поправок. Комитет нижней палаты по госстроительству будет их принимать до 22 октября.
					p Всероссийская ассоциация развития местного самоуправления (ВАРМСУ) планирует активно привлечь к работе над законопроектом представителей муниципального сообщества. 24 сентября уже был дан старт обсуждению поправок — в режиме ВКС подключились все 89 регионов страны.
					p «Сегодня мы можем констатировать: муниципалы перестали быть сторонними наблюдателями, они — полноценные участники процесса, вовлеченные в законотворческую деятельность. Начатый на площадке ВАРМСУ сборинициатив и предложений с мест позволит сделать законопроект максимально функциональным. Здесь и сейчас мы создаем механизм для эффективной работы муниципального сообщества на благо жителей», — подчеркнула Сопредседатель ВАРМСУ Ирина Гусева.
					p Изменения в закон «Об общих принципах организации местного самоуправленияв единой системе публичной власти» направлены на совершенствование организации местного самоуправления в Российской Федерации.
					p «На данный момент существование конструкции, предполагающей закреплениев федеральном законодательстве и вопросов местного значения и полномочийпо их решению приводит к путанице при перераспределении полномочий между органами местного самоуправления и органами государственной властисубъекта РФ.
					p Вопросы местного значения являются одним из элементов компетенции органов местного самоуправления, при этом, исходя из действующих формулировок, конкурируют по содержанию с закрепленными в федеральных законах полномочиями», — из текста пояснительной записки к проекту закона.
	// end sArticle